@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#efd4ce];
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}

/* FONTS */

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-ExtraLight.woff2') format('woff2'),
      url('assets/fonts/Nunito-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pedagogique';
  src: url('assets/fonts/Pedagogique-Bold-Regular.woff2') format('woff2'),
      url('assets/fonts/Pedagogique-Bold-Regular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-ExtraLight.woff2') format('woff2'),
      url('assets/fonts/Nunito-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pedagogique';
  src: url('assets/fonts/Pedagogique-Bold-Regular.woff2') format('woff2'),
      url('assets/fonts/Pedagogique-Bold-Regular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pedagogique';
  src: url('assets/fonts/Pedagogique-Medium-Regular.woff2') format('woff2'),
      url('assets/fonts/Pedagogique-Medium-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pedagogique';
  src: url('assets/fonts/Pedagogique-Medium-Regular.woff2') format('woff2'),
      url('assets/fonts/Pedagogique-Medium-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vividly';
  src: url('assets/fonts/Vividly-Regular.woff2') format('woff2'),
      url('assets/fonts/Vividly-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vividly';
  src: url('assets/fonts/Vividly-Regular.woff2') format('woff2'),
      url('assets/fonts/Vividly-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

.font-pedagogique {
  font-family: "Pedagogique", sans-serif;
}

.font-vividly {
  font-family: "Vividly", sans-serif;
}

