@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#f8ceda]
}

/* FONTS */

@font-face {
  font-family: "Pedagogique";
  src: url("../assets/fonts/Pedagogique Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vividly";
  src: url("../assets/fonts/Vividly-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.font-pedagogique {
  font-family: "Pedagogique", sans-serif;
}

.font-vividly {
  font-family: "Vividly", sans-serif;
}

/* ANIMATIONS */

/* Fade in and fade out */
.fade-in {
  animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 0.3s ease-out both;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Slide from bottom */
.slide-in-bottom {
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-out-bottom {
  animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1000px);
    opacity: 0;
  }
}

/* Slide from top */
.slide-in-top {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-out-top {
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}

/* Scale In and Out */
.scale-in-center {
  animation: scale-in-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-up-center {
  animation: scale-up-center 4s linear infinite alternate both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.scale-down-center {
  animation: scale-down-center 5s linear infinite alternate both;
}

@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}

/* Rotation Animations */
.rotate-center {
  animation: rotate-center 15s linear infinite both;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Infinite Sliding Animations */
.infiniteSlide1 {
  animation: infiniteSlide1 10s linear infinite alternate both;
}

@keyframes infiniteSlide1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200px);
  }
}

.infiniteSlide2 {
  animation: infiniteSlide2 25s linear infinite alternate both;
}

@keyframes infiniteSlide2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200px);
  }
}

.infiniteSlide3 {
  animation: infiniteSlide3 15s linear infinite alternate both;
}

@keyframes infiniteSlide3 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-270px);
  }
}
