@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#f7d6e0]
}

/* FONTS */

@font-face {
  font-family: "Pedagogique";
  src: url("../assets/fonts/Pedagogique Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vividly";
  src: url("../assets/fonts/Vividly-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.font-pedagogique {
  font-family: "Pedagogique", sans-serif;
}

.font-vividly {
  font-family: "Vividly", sans-serif;
}

/* ANIMATIONS */

.slide-in-bottom {
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-out-bottom {
  animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1000px);
    opacity: 0;
  }
}

.scale-in-center {
    -webkit-animation: scale-in-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.scale-up-center:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform 0.2s;
}
